<h1>{{player?.playerName + ' ' + player?.surname}}</h1>
<div *ngIf="player?.photoUrl!=null && player?.photoUrl!=''">
  <img style="max-width:300px;max-height: 200px" src="{{player?.photoUrl}}" alt="ProfilePhoto">
</div>
<p>{{'Birth date: ' + player?.birthDate}}</p>
<p>{{'Career start date: ' + player?.careerStarted}}</p>
<div *ngIf="player?.teamName!=null">
  <p>Is a part of <a href="{{'/team/' + player?.teamName}}">{{player?.teamName}}</a> team</p>
  <p>Transfer cost: {{player?.transferCost}}</p>
</div>
<div *ngIf="player?.teamName==null">
  <p>Player has no team</p>
</div>
<p>About player: {{player?.bio}}</p>
<a class="nav-item nav-link" href="" data-toggle="modal" data-target="#deletePlayerModal">
  <button class="btn btn-danger" data-dismiss="modal">Delete</button>
</a>


<div class="modal fade" id="deletePlayerModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete player {{player?.playerName}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeletePlayer()" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
